<html>
  <!--Ok you can try this for an example for it to work copy the video url and use the the video key eg(LnMxFwofSqQ)from the url (https://youtu.be/LnMxFwofSqQ)and paste it into the following link below it will embed the video on the page-->
  <iframe width="420" height="315"
src="https://www.youtube.com/embed/LnMxFwofSqQ">
</iframe>
<!--note remove the video key-->
  <a href="https://glitch.com/edit/#!/cuddly-shield?path=index.js:86:30" download>Download link</a>
 <button style="background-color:#FF5F00;height:90;width:90;border-radius:50%;border-style:solid;border-color:black;" onclick="window.close('https://lilproject.glitch.me/')">Click To Exit</button>
<button style="background-color:blue;height:75px;width:80px;border-radius:50%;border-style:solid;border-color:black;" onclick="window.location.href = 'https://www.youtube.com/channel/UCypRb8UlsIZOmjjr08197hA';">YouTube Channel</button>
<title>Jumpscare</title>
<body>
 <font face="Arial Black" size="6" color="black">
      <style type="text/css">
               body { 
                           background-color: white; 
                                       transition: background-color 1s; 
                                               }
                                                    </style>
   
 <h3 align="center" style="color:red">Dont click the red button</h3>
    <h2 align="center" style="color:green">By Herobrine</h2>
<button style="background-color:pink;height:90;width:90;border-radius:50%;border-style:solid;border-color:black;" onclick="alert('I know you want to click it')">1</button>
 <button style="background-color:yellow;height:90;width:90;border-radius:50%;border-style:solid;border-color:black;" onclick="alert('come on click on it')">2</button>
 <button style="background-color:#FFA100;height:90;width:90;border-radius:50%;border-style:solid;border-color:black;" onclick="alert('Nothing will happen')">3</button>
 <button style="background-color:#FF00A7;height:90;width:90;border-radius:50%;border-style:solid;border-color:black;" onclick="alert('Just click on it')">4</button>      
   <button id="btn" style="color:blue;transition: transform 500ms;transform: translate(100px, 100px);background-color:red;height:200px;width:200px;position: absolute;border-radius:50%;border-style:solid;border-color:black;font-size:120%;" onclick="begin();
   this.style.display='none';">DONT CLICK!</button>   


<img id="JumpScare" src="JumpScare" style="width:1000px;border:-1%;border-radius:-1%;"/>
<script>

    var colors = ["#FF002C", "orange", "yellow", "pink", "blue", "indigo", "violet", "aquamarine", "babyblue", "skyblue", "gold", "#8E6FA5", "#00C6FF", "#753495", "#FF6E83", "#0061FF", "#FF00C0"]; 
var i = 1;

        window.setInterval(function() {
        document.body.style.backgroundColor = colors[i];
        i++;
        if (i === colors.length){
            i=0;
            }
        }, 3000);
        function begin() {
setTimeout(function begin() {
var pic = "https://image.shutterstock.com/image-vector/scary-face-illustration-260nw-757824112.jpg"
document.getElementById('JumpScare').src = 
pic.replace('260x280', '500x500')
  var audio = new Audio('https://cdn.glitch.com/6b29c704-aac3-4592-8e88-4b4b28b4a289%2FTerror%20Scream.mp3?v=1562100474428');
audio.play();

   }, 3000);
        }
var btn = document.getElementById("btn");   
btn.style.top = Math.floor((Math.random() * 100) + 1) + "%";
btn.style.left = Math.floor((Math.random() * 100) + 1) + "%";
btn.style.bottom = Math.floor((Math.random() * 100) + 1) + "%";
  var id = setInterval(frame, 5);

function frame() {
  if (btn == 100) {
    clearInterval(id);
  } else {
    /* code to change the element style */  
  }
}
</script>

</font>

</body>
<button id="btn2" style="background-color:#FF0F00;height:10;position:absolute;width:10;border-radius:50%;" onclick="alert('Congrats')
window.open('https://www.livingroomconversations.org/wp-content/uploads/2018/09/money_values.png')
window.close() "></button>
</html>
